html {
    background-color: #F5EFE6;
    font-family: Arial, Helvetica, sans-serif;
    color: #4F6F52;
}

body {
    overflow: scroll;
}

.headline {
    color: #1A4D2E;
    vertical-align: top;
    text-align: center;
    font-size: 35pt;
    font-weight: bold;

}

.subhead {
    font-size: 18pt;
    font-weight: bold;
    color: #1A4D2E;
}

.content {
    font-size: 12pt;
    color: #1A4D2E;
}
.icon {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.jobtitle {
    font-weight: bold;
    color: #1A4D2E;
}

footer {
    font-size: 10pt;
    background-color: #1A4D2E;
    color: #7fbf85;
    margin-top: 10px;
    text-align: center;
}

.menu {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.menulink {
    text-decoration: none;
    margin: 10px;
    color: #F5EFE6;
    background-color: #1A4D2E;
}

a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 5px;
}
